:root {
  --header-font-size: calc(10px + 2vmin);

  --light-blue: #8D99AE;
  --dark-blue: #2B2D42;
  --red: #D90429;
  --light-grey: #EDF2F4;
}


.App-header {
  background-color: var(--dark-blue);
  font-size: var(--header-font-size);
  color: var(--light-grey);
  margin: 1%;
}

.nav-link, .nav-link:hover, .nav-link:focus {
  color: var(--light-grey);
}

.card {
  border-color: var(--light-blue);
}

.card-title, .card-footer, .list-group-item {
  color: var(--dark-blue);
}

.card-text {
  color: var(--light-blue);
}

.recipes-list-type {
  color: var(--light-blue);
}

.badge-quantity {
  background-color: white !important;
}

.recipe-name {
  color: var(--dark-blue);
}
